.circle {
  border: 1px dashed orange;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle p {
  position: relative;
}
