* {
  font-family: sans-serif;
}

.App {
  background-color: #f0eeef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
}

img {
  width: 750px;
  height: 750px;
}
