.navbar {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  z-index: 2;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__list {
  display: flex;
}

.list__item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.navbar__icons {
  display: flex;
}

.navbar__icons li {
  margin-right: 1rem;
}
